{% extends 'base.html' %}
{% load static %}
{% block title %}Pôles{% endblock %}
{% block content %}

<link href="{% static 'css/superviseur.css' %}" rel="stylesheet">

     <br><br><br><br><br><br>

<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/informatique.png" %}" alt="Pôle des Systèmes d'information" width="140" height="140">
          <h3>Pôle des Systèmes d'information</h3>
<br>
          <p><a href="/listesouspole/1/">UG Exploitation & Infrastucture</a></p>
          <p><a href="/listesouspole/2/">UG Etudes & Développement</a></p>
          <p><a href="/listesouspole/3/">UG Web & Multimédia</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/humaine.png" %}" alt="Pôle Gestion des Ressources Humaines & Matérielles" width="140" height="140">
          <h3>Pôle Gestion des Ressources Humaines & Matérielles</h3>
<br>
          <p><a href="/listesouspole/5/">UG Développement des Ressources Humaines</a></p>
          <p><a href="/listesouspole/6/">UG Ressources Matérielles & Comptabilité</a></p>
          <p><a href="/listesouspole/4/">UG Suivi des carrières</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/cooperation.png" %}" alt="Pôle Coopération & Partenariat" width="140" height="140">
          <h3>Pôle Coopération & Partenariat</h3>
<br><br>
          <p><a href="/listesouspole/7/">UG coopération</a></p>
          
        </div>
      </div>
      
</div>

<br><br>
<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/bureau.png" %}" alt="Bureau d'Ordre Central" width="140" height="140">
          <h3>Bureau d'Ordre Central</h3>
<br>
          <p><a href="/listesouspole/8/">Bureau d'Ordre Central</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/art.png" %}" alt="Pôle Art ,Culture & Communication" width="140" height="140">
          <h3>Pôle Art ,Culture & Communication</h3>
     <p><a href="/listesouspole/11/">Art ,Culture & Communication</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/information.png" %}" alt="Pôle Coopération & Partenariat" width="140" height="140">
          <h3>OCMRE</h3>
<br>
          <p><a href="/listesouspole/10/">UG Documentation & Information</a></p>
          <p><a href="/listesouspole/9/">UG Etude & Recherche</a></p>
          
        </div>
      </div>
      
</div>

<br><br>
<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/juridique.png" %}" alt="Pôle Juridique & Social" width="140" height="140">
          <h3>Pôle Juridique & Social</h3>
<br>
          <p><a href="/listesouspole/12/">UG Requêtes Administratives & Réclamations</a></p>
          <p><a href="/listesouspole/13/">UG Contentieux Judiciaire</a></p>
          <p><a href="/listesouspole/14/">UG Soutien Social</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/economie.png" %}" alt="Pôle Promotion Economique" width="140" height="140">
          <h3>Pôle Promotion Economique</h3>
<br>
          <p><a href="/listesouspole/22/">UG Migration & Développement</a></p>
          <p><a href="/listesouspole/21/">UG Economie de la migration</a></p>
          <p><a href="/listesouspole/23/">UG Promotion économique</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/education.png" %}" alt="Pôle Education & Diversité Culturelle" width="140" height="140">
          <h3>Pôle Education & Diversité Culturelle</h3>

          <p><a href="/listesouspole/26/">UG Education, Enseignement & Apprentissage</a></p>
          <p><a href="/listesouspole/25/">UG Diversité et Ouverture Culturelle</a></p>
          <p><a href="/listesouspole/24/">UG Jenesse & Sport</a></p>
          
        </div>
      </div>
      
</div>
<div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/Tresorie.png" %}" alt="Trésorie Générale" width="140" height="140">
          <h3>Trésorie Générale</h3>
          <p><a href="/listesouspole/20/">UG Paie du Personnel</a></p>
          <p><a href="/listesouspole/17/">UG Comptabilité</a></p>
          <p><a href="/listesouspole/18/">UG Règlements</a></p>
          <p><a href="/listesouspole/19/">UG Trésorerie</a></p>
          <p><a href="/listesouspole/16/">UG Budget</a></p>
        </div>
        <div class="col-lg-4">
             
         
          
        </div>
      </div>
      
</div>



{% endblock %}

